[Unit]
Description=uWSGI instance to serve social.dlindegren.com
After=network.target

[Service]
User=social
Group=www-data
WorkingDirectory=/var/www/vhosts/social/htdocs/contrib
Environment="PATH=/var/www/vhosts/social/htdocs/venv/bin"
ExecStart=/var/www/vhosts/social/htdocs/venv/bin/uwsgi --ini uwsgi.ini

[Install]
WantedBy=multi-user.target
